.root {
  flex: 0 0 auto;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slots {
  display: flex;
  margin: 0 10px;
  position: relative;
}

.slot {
  position: relative;
  margin: 0 5px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 12px 9px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(11.25px);
  border-radius: 9px;
}

.slot:nth-child(4) {
  margin-right: 10px;
}

.slot:nth-child(14) {
  margin-right: 20px;
}

.slot:nth-child(4):after {
  content: "";
  height: 130%;
  width: calc(400% + 44px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;
  border-radius: 9px;
  border: 2px solid var(--red-dark);
  /* opacity: 0.5; */
}

.slot:nth-child(14):after {
  content: "";
  height: 60%;
  width: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
  background-color: var(--red-dark);
  /* opacity: 0.5; */
}

.slot.active {
  background-color: var(--red);
}

.title {
  font-weight: 300;
  color: var(--gray);
}
