.root {
  padding: 10vh 0 22vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading {
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 16px 0;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
}

.subtitle {
  margin: 0;
  padding: 16px 0;
  border-top: 3px solid var(--red-dark);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--gray);
}

.placeholder {
  flex: 1 0 auto;
}

input {
  outline: none;
  border: 2px solid var(--red);
  background: transparent;
  border-radius: 9px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
