.root {
  flex: 0 0 auto;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wheel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  position: absolute;
  margin: 0 10px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  font-weight: 500;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(11.25px);
  transition: 0.2s ease-in;
}
.ball.active {
  background-color: var(--red);
}

.hidden {
  opacity: 0.5;
  user-select: none;
}

.ball:nth-child(1) {
  transform: translateX(347px) scale(0.2);
}
.ball:nth-child(2) {
  transform: translateX(305px) scale(0.3);
}
.ball:nth-child(3) {
  transform: translateX(240px) scale(0.4);
}
.ball:nth-child(4) {
  transform: translateX(150px) scale(0.6);
}
.ball:nth-child(5) {
}
.ball:nth-child(6) {
  transform: translateX(-150px) scale(0.6);
}
.ball:nth-child(7) {
  transform: translateX(-240px) scale(0.4);
}
.ball:nth-child(8) {
  transform: translateX(-305px) scale(0.3);
}
.ball:nth-child(9) {
  transform: translateX(-347px) scale(0.2);
}
.ball:nth-child(n + 9) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1000px) scale(0.2);
}
