.root {
  flex: 0 0 auto;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
