/* body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
} */

.canvas {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* height: 100%; */
  height: 100vh;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.flyAway {
  animation-name: flyAway;
  animation-timing-function: linear;
  animation-duration: 10s;
}

.walkAround {
  animation-name: walkAround;
  animation-timing-function: linear;
  animation-duration: 10s;
}
.topRight {
  animation-name: topRight;
  animation-timing-function: linear;
  animation-duration: 10s;
}

.element {
  position: absolute;
  opacity: 0;
  /* will-change: transform, opacity; */
  /* transform-origin: 50% 100%; */
}

@keyframes flyAway {
  0% {
    opacity: 0;
    transform: rotateX(0deg) translateZ(0);
  }
  5% {
    opacity: 1;
  }
  10% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }

  100% {
    top: 0px;
    transform: rotateX(0deg) translateZ(-2500px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
  }
}

@keyframes walkAround {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  50% {
    opacity: 0.5;
  }
  /* 80% {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
  } */
  100% {
    opacity: 0.1;
    transform: translateX(110vw);
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
  }
}

@keyframes topRight {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(-200px);
  }
  5% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-70vh) translateX(10vw);
  }
}
