html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  color: #fff;
  font-weight: 300;
  margin: 0;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  box-sizing: border-box;
}
